<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- Home</title>
    <style>
        nav a {
            color: #d64161;
            font-size: 2em;
            margin-left: 50px;
            text-decoration: none;
        }

        .cell {
            padding: 20px;
            margin: 10px;
            background-color: #f7f4f4;
        }

    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('users') }}">Twitter Users</a>
        <a href="{{ url_for('most_tweets') }}">Users with Most Tweets</a>
        <a href="{{ url_for('most_engagement_url') }}">Most Engaging Urls</a>
        <a href="{{ url_for('most_engagement_user') }}">Most Engaging Users</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
